/* CSS styles for buttons */
.custom-button {
    background-color: rgb(18, 18, 18);
    color: #ffffff;
    border: white;
    padding: 5px 10px;
    cursor: pointer;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;    
}
.join-button {
    display: flex;
    flex-direction: column;
    width: 6vw;
    height: 2.5vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 88, 244);
    color: #eeeeee;       
    border: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}
.create-button {
    display: flex;
    flex-direction: column;
    width: 6vw;
    height: 2.5vw;
    align-items: center;
    justify-content: center;    
    background-color: rgb(236, 236, 236);
    color: rgb(70, 88, 244);    
    border: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}

.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: stretch;
}
.banner {
    border-color: whitesmoke;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(9, 124, 9);
    color: whitesmoke;    
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    /* width: 20vw; */
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs{
    padding: 10px;
    display: flex;
}

h2,h5 {
    text-align: center;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted { 
    font-size: 10px;
    color: darkgrey;
}

.center-box {
    margin: auto;
}

.character-box {
    height: 30vw;
    width: 80vw;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.red-btn {
    background-color: #E7483D;
    color: #74150E;
    font-family: "Times New Roman";    
    font-size: 25px;
    font-weight: bold;
    font-variant: small-caps;
    cursor:pointer;
    border:none;
    width:12vw;
    height:24vw;
    border-radius: 10px;    
}
.red-btn:hover {
    background-color: whitesmoke;
}
.red-btn:focus {
    background-color: whitesmoke;
    border-color: #74150E;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}
.red-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.yellow-btn {
    background-color: #E7CC3D;
    color: #8E7A0C;
    font-family: "Times New Roman";
    font-size: 25px;
    font-weight: bold;
    font-variant: small-caps;    
    cursor:pointer;
    border:none;
    width:12vw;
    height:24vw;    
    border-radius: 10px;    
}
.yellow-btn:hover {
    background-color: whitesmoke;
    color: #B68F08;
}
.yellow-btn:focus {
    background-color: whitesmoke;
    border-color: #8E7A0C;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}
.yellow-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.green-btn {
    background-color: #6CCA7B;
    color: #185622;
    font-family: "Times New Roman";    
    font-size: 25px;
    font-weight: bold;
    font-variant: small-caps;    
    cursor:pointer;
    border:none;
    width:12vw;
    height:24vw;    
    border-radius: 10px;    
}
.green-btn:hover {
    background-color: whitesmoke;
}
.green-btn:focus {
    background-color: whitesmoke;
    border-color: #185622;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}
.green-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.purple-btn {
    background-color: #D18EC3;
    color: #69365E;
    font-family: "Times New Roman";    
    font-size: 25px;
    font-weight: bold;
    font-variant: small-caps;    
    cursor:pointer;
    border:none;
    width:12vw;
    height:24vw;    
    border-radius: 10px;    
}
.purple-btn:hover {
    background-color: whitesmoke;
}
.purple-btn:focus {
    background-color: whitesmoke;
    border-color: #69365E;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}
.purple-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.blue-btn {
    background-color: #ACEFEB;
    color: #56928E;
    font-family: "Times New Roman";   
    font-size: 25px;
    font-weight: bold;
    font-variant: small-caps;     
    cursor:pointer;
    border:none;
    width:12vw;
    height:24vw;        
    border-radius: 10px;    
}
.blue-btn:hover {
    background-color: whitesmoke;
}
.blue-btn:focus {
    background-color: whitesmoke;
    border-color: #56928E;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}
.blue-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.white-btn {
    background-color: #e0e0e0;
    color: white;
    font-family: "Times New Roman";    
    font-size: 25px;
    font-weight: bold;
    font-variant: small-caps;    
    cursor:pointer;
    border:none;
    width:12vw;
    height:24vw;       
    border-radius: 10px;    
}
.white-btn:hover {
    background-color: whitesmoke;
    color: #B1AEAE;
}
.white-btn:focus {
    background-color: whitesmoke;
    color: #B1AEAE;
    border-color: #e0e0e0;
    border-width: 2px;
    border-style: solid;
}
.white-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.continue-btn {
    background-color: rgb(13, 129, 9);
    color: white;
    cursor:pointer;
    border:none;
    /* width:12vw; */
    /* height:24vw;        */
}

.flex-container {
    display: flex;
}

.game-box {
    flex: 1;
    padding: 20px;
}

.board-box {
    flex: 2;
    padding: 20px;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.board-cell {
    border: 1px solid black;
    padding: 0;
    width: 120px;
    height: 120px;
}

.room {
    background-color: rgb(40, 90, 155);
    color: white;
}

.hallway {
    background-color: rgb(175, 214, 243);
}

.room-name {
    font-weight: bold;
}