/* CSS styles for buttons */
.content{
    background-color: rgb(28, 40, 51 );
    border: 10px solid rgb(28, 40, 51 );
    /* border-color: rgb(40, 55, 71); */
}
.nav-button {
    background-color: rgb(40, 55, 71);
    border: 3px solid rgb(40, 55, 71);
    border-radius: 30px;;
    color: #ffffff;
    font-weight : bold;
    cursor: pointer;
    margin-bottom: 10px;  
}
.form {
    background-color: rgb(28, 40, 51 );
    border: 30px solid rgb(28, 40, 51 );
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;    
}
.join-button {
    display: flex;
    flex-direction: column;
    width: 6vw;
    height: 2.5vw;
    align-items: center;
    justify-content: center;
    background-color: #E7483D;
    color: #eeeeee;       
    border: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}
.create-button {
    display: flex;
    flex-direction: column;
    width: 6vw;
    height: 2.5vw;
    align-items: center;
    justify-content: center;    
    background-color: rgb(236, 236, 236);
    color: #E7483D;    
    border: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}

.message-box {
    background-color: rgb(40, 55, 71);
    border: 30px solid rgb(40, 55, 71);
    border-radius: 10px;
    color: whitesmoke;    
    height: 70vh;
    display: flex;
    flex-direction: column;
    width: 15vw;
    align-items: stretch;
}
.banner {
    border: 2px solid rgb(9, 124, 9);
    border-radius: 10px;
    background-color: rgb(9, 124, 9);
    color: whitesmoke;    
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    font-size: 12px;
}

.inputs{
    padding: 10px;
    display: flex;

}

h2,h5 {
    text-align: center;
}
h4 {
    text-align: right;
    color: whitesmoke;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted { 
    font-size: 8px;
    color: darkgrey;
}

.center-box {
    margin: auto;
}

.title {
    color: #E7483D;
}

.character-box {
    height: 30vw;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;    
}

.red-btn {
    background-color: #E7483D;
    color: #74150E;
    font-family: "Times New Roman";    
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    cursor:pointer;
    border:none;
    width:9vw;
    height:18vw;
    border-radius: 10px;  
    margin: 5px;  
}
.red-btn:hover {
    background-color: whitesmoke;
}
.red-btn:focus {
    background-color: whitesmoke;
    border-color: #74150E;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}
.red-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.yellow-btn {
    background-color: #E7CC3D;
    color: #8E7A0C;
    font-family: "Times New Roman";
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;    
    cursor:pointer;
    border:none;
    width:9vw;
    height:18vw;    
    border-radius: 10px;    
    margin: 5px;  
}
.yellow-btn:hover {
    background-color: whitesmoke;
    color: #B68F08;
}
.yellow-btn:focus {
    background-color: whitesmoke;
    border-color: #8E7A0C;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}
.yellow-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.green-btn {
    background-color: #6CCA7B;
    color: #185622;
    font-family: "Times New Roman";    
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;    
    cursor:pointer;
    border:none;
    width:9vw;
    height:18vw;    
    border-radius: 10px;    
    margin: 5px;  
}
.green-btn:hover {
    background-color: whitesmoke;
}
.green-btn:focus {
    background-color: whitesmoke;
    border-color: #185622;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}
.green-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.purple-btn {
    background-color: #D18EC3;
    color: #69365E;
    font-family: "Times New Roman";    
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;    
    cursor:pointer;
    border:none;
    width:9vw;
    height:18vw;    
    border-radius: 10px;    
    margin: 5px;  
}
.purple-btn:hover {
    background-color: whitesmoke;
}
.purple-btn:focus {
    background-color: whitesmoke;
    border-color: #69365E;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}
.purple-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.blue-btn {
    background-color: #ACEFEB;
    color: #56928E;
    font-family: "Times New Roman";   
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;     
    cursor:pointer;
    border:none;
    width:9vw;
    height:18vw;        
    border-radius: 10px;    
    margin: 5px;  
}
.blue-btn:hover {
    background-color: whitesmoke;
}
.blue-btn:focus {
    background-color: whitesmoke;
    border-color: #56928E;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}
.blue-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.white-btn {
    background-color: #e0e0e0;
    color: white;
    font-family: "Times New Roman";    
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;    
    cursor:pointer;
    border:none;
    width:9vw;
    height:18vw;       
    border-radius: 10px;    
    margin: 5px;  
}
.white-btn:hover {
    background-color: whitesmoke;
    color: #B1AEAE;
}
.white-btn:focus {
    background-color: whitesmoke;
    color: #B1AEAE;
    border-color: #e0e0e0;
    border-width: 2px;
    border-style: solid;
}
.white-btn:disabled {
    background-color: white;
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
}

.close-btn {
    background-color: #E7483D;
    color: #74150E;
    font-family: "Times New Roman";    
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    cursor:pointer;
    border:none;
    width:9vw;
    height:4vw;
    border-radius: 10px;  
    margin: 5px;  
}
.close-btn:hover {
    background-color: whitesmoke;
}
.close-btn:focus {
    background-color: whitesmoke;
    border-color: #74150E;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}

.continue-btn {
    background-color: #6CCA7B;
    color: #185622;
    font-family: "Times New Roman";    
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;    
    cursor:pointer;
    border:none;
    width:9vw;
    height:4vw;    
    border-radius: 10px;    
    margin: 5px;  
}
.continue-btn:hover {
    background-color: whitesmoke;
}
.continue-btn:focus {
    background-color: whitesmoke;
    border-color: #185622;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}

.card-btn {
    background-color: rgb(251, 236, 192);
    color: rgb(33, 32, 32);
    /* background-color: rgb(129, 79, 58); */
    /* color: rgb(80, 41, 27); */
    font-family: "Times New Roman";    
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;    
    cursor:pointer;
    border:none;
    width:9vw;
    height:4vw;    
    border-radius: 10px;    
    margin: 5px;  
}
.card-btn:hover {
    background-color: rgb(84, 80, 67);
    color: rgb(251, 236, 192);
    border-color: rgb(33, 32, 32);
}
.card-btn:focus {
    background-color: rgb(84, 80, 67);
    color: rgb(33, 32, 32);
    border-color: rgb(33, 32, 32);
    /* border-color: rgb(95, 52, 37); */
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;    
}

/* .continue-btn {
    background-color: rgb(13, 129, 9);
    color: white;
    cursor:pointer;
    border:none;
} */

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box {
    flex: 0;
    padding: 20px;
}

.board-box {
    height: 80vh;
    width: 60vw;
    flex: 0;
    padding: 30px;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
}

.board-cell {
    font-family: "Times New Roman";    
    padding: 0;
    width: 16vh;
    height: 16vh;
}

.room {
    background-color: rgb(164, 66, 57);
    color: rgb(194, 118, 111);
    border: 5px solid rgb(164, 66, 57);
}

.Hallway {
    background-color: rgb(136, 76, 50);
    color: rgb(167, 129, 113);
    border: 10px solid rgb(164, 66, 57);
}

.room-name {
    font-weight: bold;
}
.occupant-name {
    color: whitesmoke;
    font-weight: bold;
}

.hand-box {
    background-color: rgb(40, 55, 71);
    border: 30px solid rgb(40, 55, 71);
    border-radius: 10px;
    color: white;
    height: 70vh;
    width: 15vw;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.card {
    background-color: rgb(43, 21, 12);
    color: white;    
    border: white;
    height: 7vw;
    width: 5vw;
}

.dialog[open] {
    background-color: rgba(40, 55, 71, 0.9);
    border: 5px solid whitesmoke;
    border-radius: 30px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.card-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

::backdrop {
    background-color: rgba(50, 50, 50, 0.7);
  }