{% extends 'base.html' %}
{% block content %}

<form method="post" class="form">
    <div>
        <h2>Select a character!</h2>
        <h5>Player: {{name}}   |   Game Lobby: {{game}}</h5>

        <div class="character-box">
            {% for character, color in characters.items() %}
                <button type="button" class="{{color}}-btn" name="send" id="{{character}}" onClick="choose('{{character}}')">{{character}}</button>
            {% endfor %}
        </div>
        <div class="character-box">
            <button type="button" class="continue-btn" name="send" id="continue" onClick="sendCharacter()">Continue</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    var socketio = io();

    var character;
    function choose(choice){
        character = choice;
    }

    const sendCharacter = () => {
        socketio.emit("select_character", {character: character})        
    };
</script>

{% for char in taken_characters %}
<script type="text/javascript">
    button = document.getElementById("{{char}}");
    button.disabled = true;
</script>
{% endfor %}

{% endblock %}
