{% extends 'base.html' %}
{% block content %}

<form method="post" class="form">
    <div>
        <h2 class="title">Select a character!</h2>
        <h5>Player: {{name}}   |   Game Lobby: {{game}}</h5>

        <div class="character-box">
            {% for key, value in characters.items() %}
                <button type="button" class="{{ value.color }}-btn" name="send" id="{{ value.name }}" onClick="sendCharacter('{{ value.name }}')">{{ value.name }}</button>
            {% endfor %}
        </div>
    </div>
</form>

<script type="text/javascript">
    var socketio = io();

    const sendCharacter = (choice) => {
        socketio.emit("select_character", {character: choice})        
    };

    // Listen for the character_selected event
    socketio.on("character_selected", function() {
        window.location.href = "{{ url_for('game') }}";  // Redirect to the 'game' page
    });
</script>

{% endblock %}
