{% extends 'base.html' %}
{% block content %}
<button type="button" class="nav-button" name="start" id="send-btn" onClick="startGame()">Start Game</button>
<button type="button" class="nav-button" name="code" id="code">{{ game }}</button>
<!-- {% for rm in adjacent_rooms %}
    <button type="button" class="nav-button" name="move" id="{{ rm }}" onClick="submitMove('{{ rm }}')">{{ rm }}</button>
{% endfor %} -->

<div class="banner">
    <h1 id="banner">Waiting for Players...</h1>
</div>
<div class="flex-container">
    <!-- HAND AND PLAYERS -->
    <div class="game-box">
        <!-- game content -->
        <div class="hand-box">
            <!-- hand content -->
            <h3>{{ player }}</h3>
            <body>
                {{ character }}
            </body>
            <h3>HAND:</h3>
            <body>
                {% for card in game_instance.get_player(player).hand %}
                    {{ card }} </br>
                {% endfor %}
            </body>
            <!-- <div class="hand-box">
                {% for card in hand %}
                    <div class="card" name="card" id="{{ card }}">{{ card }}</button>
                {% endfor %}
            </div>             -->
        </div>
    </div>
    <!-- GAME BOARD -->
    <div class="board-box">
        <!-- board content -->
        <div>
            <div class="board-grid">
                {% for room, properties in board.items() %}
                <button class="board-cell {% if properties.type == 'room' %}room{% else %}Hallway{% endif %}" \
                    style="grid-column: {{ properties.position[1] + 1 }}; grid-row: {{ properties.position[0] + 1 }};" \
                    id="{{ room }}-cell" >
                    <div id="{{ room }}-name" class="room-name">{{ room+"\n" }}</div>
                    <div id="{{ room }}-adj" class="occupant-name">{{ "\n".join(properties.occupants) }}</div>
                </button>
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- MESSAGING -->
    <div class="game-box">
        <!-- game content -->
        <div class="message-box">
            <h2>Messages</h2>
            <div class="messages" id="messages"></div>
            <div class="inputs">
                <input
                    type="text"
                    rows="3"
                    placeholder="Message"
                    name="message"
                    id="message"
                    background-color: rgb(52, 73, 94)
                />
                <button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>
<h4>Game Code: {{ game }}</h4>

<dialog id="dialog-move" class="dialog">
    <h2>Move Your Character!</h2>
    {% for room in adjacent_rooms %}
        <button type="button" class="blue-btn" name="send" id="{{ room }}" onClick="submitMove('{{ room }}')">{{ room }}</button>
    {% endfor %}
</dialog>

<dialog id="dialog-suggest-char" class="dialog">
    <h2>Suggest a Character!</h2>
    {% for key, value in characters.items() %}
        <button type="button" class="{{ value.color }}-btn" name="send" id="{{ value.name }}" onClick="suggestCharacter('{{ value.name }}')">{{ value.name }}</button>
    {% endfor %}
</dialog>

<dialog id="dialog-suggest-weapon" class="dialog">
    <h2>Suggest a Murder Weapon!</h2>
    {% for weapon in weapons %}
        <button type="button" class="red-btn" name="send" id="{{ weapon }}" onClick="suggestWeapon('{{ weapon }}')">{{ weapon }}</button>
    {% endfor %}
</dialog>

<dialog id="dialog-rebuttal" class="dialog">
    <h2>Make a rebuttal?</h2>
    {% for card in game_instance.get_player(player).hand %}
        <button type="button" class="blue-btn" name="send" id="{{ card }}" onClick="submitRebuttal('{{ card }}')">{{ card }}</button>
    {% endfor %}
    <button type="button" class="red-btn" name="send" id="none" onClick="submitRebuttal('{{ None }}')">No Rebuttal</button>
</dialog>

<script type="text/javascript" name={{name}}>
    var socketio = io();

    const messages = document.getElementById("messages");
    const name = document.currentScript.getAttribute("name");
    const dialogMove = document.getElementById("dialog-move");
    const dialogCharacter = document.getElementById("dialog-suggest-char");
    const dialogWeapon = document.getElementById("dialog-suggest-weapon");
    const dialogRebuttal = document.getElementById("dialog-rebuttal");
    
    var characterSuggestion;
    var weaponSuggestion;
    var roomSuggestion;

    // RECEIVE FUNCTIONS
    socketio.on("message", (data) => {

        // PARSE THE MESSAGE TYPE
        console.log(data.type);
        console.log(data.content);
        if (data.type == "chat") {
            createMessage(data.name, data.message);
        }

        // START RECEIVED BRANCH
        else if (data.type == "start") {
            document.getElementById("banner").innerHTML = data.message;
            createMessage("Server", "Game started!");
            if (data.player == "{{player}}") {
                dialogMove.showModal();
            }
        }

        // MOVE RECEIVED BRANCH
        else if (data.type == "move") {
            createMessage("Server", data.message);
            document.getElementById("banner").innerHTML = data.message;
            // UPDATE OLD ROOM OCCUPANTS
            var old_text = document.getElementById(`${data.old_room}-adj`).innerText
            document.getElementById(`${data.old_room}-adj`).innerText = old_text.replace(`${data.character}\n`,'');
            document.getElementById(`${data.old_room}-adj`).innerText = old_text.replace(`${data.character}`,'');
            
            // UPDATE NEW ROOM OCCUPANTS
            var new_text = document.getElementById(`${data.new_room}-adj`).innerText
            document.getElementById(`${data.new_room}-adj`).innerText = new_text.concat(`${data.character}\n`);
            
            // PROMPT USER FOR SUGGESTION
            if (data.name == "{{player}}" && !data.new_room.includes("Hallway")) {
                createMessage("Server", `${data.name} is making a suggestion`);
                roomSuggestion = data.new_room;
                dialogCharacter.showModal();
            }
            else if (data.name == "{{player}}") {
                stepTurn();
            }
        }

        // PROMPT MOVE
        else if (data.type == "prompt_move") {
            // HIGHLIGHT ADJACENT BOARD CELLS
            // ENABLE BOARD BUTTONS TO SUBMIT A MOVE
        }

        // SUGGESTION RECEIVED BRANCH
        else if (data.type == "suggest") {
            document.getElementById("banner").innerHTML = `${data.player} suggested it was ${data.character} in the ${data.room} with a ${data.weapon}`;
            if (data.name == "{{player}}") {
                promptRebuttal();
            }
        }

        // SUGGESTION RECEIVED BRANCH
        else if (data.type == "rebuttal") {
            dialogRebuttal.showModal();
        }

        // ACCUSATION RECEIVED BRANCH
        else if (data.type == "accuse") {
            document.getElementById("banner").innerHTML = `${data.name} ACCUSED ${data.character}`;
        }
        // ACCUSATION RECEIVED BRANCH
        else if (data.type == "banner") {
            document.getElementById("banner").innerHTML = `${data.message}`;
        }
    });

    // HELPER FUNCTIONS
    const createMessage = (name, msg) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleTimeString('en-US')}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    }

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("message", {data: message.value});
        message.value = "";
    };
    const submitMove = (room) => {
        dialogMove.close();
        socketio.emit("submitMove", {room: room});
    };

    const promptRebuttal = () => {
        socketio.emit("promptRebuttal", {});
    };

    const submitRebuttal = (card) => {
        dialogRebuttal.close();
        socketio.emit("submitRebuttal", {card: card});
    };

    const stepTurn = () => {
        socketio.emit("stepTurn", {data: ""})
    };

    const startGame = () => {
        socketio.emit("startGame", {data: ""})
    };

    function suggestCharacter(char){
        characterSuggestion = char;
        dialogCharacter.close();
        dialogWeapon.showModal();
    }
    
    function suggestWeapon(weapon){
        weaponSuggestion = weapon;
        socketio.emit("submitSuggestion", {room: roomSuggestion, character: characterSuggestion, weapon: weaponSuggestion, player: "{{player}}"});
        dialogWeapon.close();
}


</script>

{% for msg in messages %}
<script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %}

{% endblock %}
